@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'League Spartan';
        src: url('/assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
        font-style: normal;
    }
}

.fade-enter {
    opacity: 0;
}
.fade-exit {
    opacity: 1;
}
.fade-enter-active {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 200ms ease-in;
}
